In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
print('Dependencies Imported')

Dependencies Imported

In [2]:
data = pd.concat(map(pd.read_csv, ['Coursera.csv','Udacity.csv','EdX.csv','UdemyCourses.csv']),ignore_index=True)

In [3]:
data.shape

(4844, 8)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4844 entries, 0 to 4843
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Course Name         4844 non-null   object
 1   University          4505 non-null   object
 2   Difficulty Level    4501 non-null   object
 3   Course Rating       4116 non-null   object
 4   Course URL          4844 non-null   object
 5   Course Description  4827 non-null   object
 6   Skills              4581 non-null   object
 7   Unnamed: 6          0 non-null      float64
dtypes: float64(1), object(7)
memory usage: 302.9+ KB

In [5]:
data.isnull().sum() #no value is missing

Course Name              0
University             339
Difficulty Level       343
Course Rating          728
Course URL               0
Course Description      17
Skills                 263
Unnamed: 6            4844
dtype: int64

In [6]:
data['Difficulty Level'].value_counts()

Beginner          1946
Intermediate      1192
Advanced          1127
Conversant         186
Not Calibrated      50
Name: Difficulty Level, dtype: int64

In [7]:
data['Course Rating'].value_counts()

4.7    757
4.6    642
4.8    600
4.5    396
4.4    249
      ...
2.3      1
1.9      1
1.6      1
2.5      1
3.1      1
Name: Course Rating, Length: 62, dtype: int64

In [8]:
data['University'].value_counts()

Coursera Project Network                                              562
School of Programming & Development                                   143
University of Illinois at Urbana-Champaign                            138
Johns Hopkins University                                              110
IBM                                                                   105
                                                                     ...
Karlsruhe Institute for Technology                                      1
Brightline Initiative                                                   1
Educational Testing Service                                             1
H2O                                                                     1
University of Maryland Global Campus-University System of Maryland      1
Name: University, Length: 280, dtype: int64

In [9]:
data['Course Name']

0       Write A Feature Length Screenplay For Film Or ...
1       Business Strategy: Business Model Canvas Analy...
2                           Silicon Thin Film Solar Cells
3                                    Finance for Managers
4            Retrieve Data using Single-Table SQL Queries
                              ...
4839    Ultimate AWS Certified SysOps Administrator As...
4840    AWS Certified Cloud Practitioner 500 Practice ...
4841    Amazon Web Services (AWS) Certified 2022 - 4 C...
4842    AWS Certified Cloud Practitioner Exam Training...
4843    AWS Certified Cloud Practitioner: 6 Full Pract...
Name: Course Name, Length: 4844, dtype: object

In [10]:

data['Course Description'] = data['Course Description'].apply(lambda x:str(x))
data['Skills'] = data['Skills'].apply(lambda x:str(x))
data['Difficulty Level'] = data['Difficulty Level'].apply(lambda x:str(x))

In [11]:
data = data[['Course Name','Difficulty Level','Course Description','Skills','Course URL']]

In [12]:
data.head(5)

,Course Name,Difficulty Level,Course Description,Skills,Course URL
0,Write A Feature Length Screenplay For Film Or ...,Beginner,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...,https://www.coursera.org/learn/write-a-feature...
1,Business Strategy: Business Model Canvas Analy...,Beginner,"By the end of this guided project, you will be...",Finance business plan persona (user experien...,https://www.coursera.org/learn/canvas-analysis...
2,Silicon Thin Film Solar Cells,Advanced,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...,https://www.coursera.org/learn/silicon-thin-fi...
3,Finance for Managers,Intermediate,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...,https://www.coursera.org/learn/operational-fin...
4,Retrieve Data using Single-Table SQL Queries,Beginner,In this course youï¿½ll learn how to effectively...,Data Analysis select (sql) database manageme...,https://www.coursera.org/learn/single-table-sq...

In [13]:

data['Course Name'] = data['Course Name'].str.replace(' ',',')
data['Course Name'] = data['Course Name'].str.replace(',,',',')
data['Course Name'] = data['Course Name'].str.replace(':','')
data['Course Description'] = data['Course Description'].str.replace(' ',',')
data['Course Description'] = data['Course Description'].str.replace(',,',',')
data['Course Description'] = data['Course Description'].str.replace('_','')
data['Course Description'] = data['Course Description'].str.replace(':','')
data['Course Description'] = data['Course Description'].str.replace('(','')
data['Course Description'] = data['Course Description'].str.replace(')','')
#removing paranthesis from skills columns 
data['Skills'] = data['Skills'].str.replace('(','')
data['Skills'] = data['Skills'].str.replace(')','')

C:\Users\shria\AppData\Local\Temp\ipykernel_13940\3554093084.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['Course Description'] = data['Course Description'].str.replace('(','')
C:\Users\shria\AppData\Local\Temp\ipykernel_13940\3554093084.py:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['Course Description'] = data['Course Description'].str.replace(')','')
C:\Users\shria\AppData\Local\Temp\ipykernel_13940\3554093084.py:11: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['Skills'] = data['Skills'].str.replace('(','')
C:\Users\shria\AppData\Local\Temp\ipykernel_13940\3554093084.py:12: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['Skills'] = data['Skills'].str.replace(')','')

In [14]:
data.head(5)

,Course Name,Difficulty Level,Course Description,Skills,Course URL
0,"Write,A,Feature,Length,Screenplay,For,Film,Or,...",Beginner,"Write,a,Full,Length,Feature,Film,Script,In,thi...",Drama Comedy peering screenwriting film D...,https://www.coursera.org/learn/write-a-feature...
1,"Business,Strategy,Business,Model,Canvas,Analys...",Beginner,"By,the,end,of,this,guided,project,you,will,be,...",Finance business plan persona user experienc...,https://www.coursera.org/learn/canvas-analysis...
2,"Silicon,Thin,Film,Solar,Cells",Advanced,"This,course,consists,of,a,general,presentation...",chemistry physics Solar Energy film lambda...,https://www.coursera.org/learn/silicon-thin-fi...
3,"Finance,for,Managers",Intermediate,"When,it,comes,to,numbers,there,is,always,more,...",accounts receivable dupont analysis analysis...,https://www.coursera.org/learn/operational-fin...
4,"Retrieve,Data,using,Single-Table,SQL,Queries",Beginner,"In,this,course,youï¿½ll,learn,how,to,effectively...",Data Analysis select sql database management...,https://www.coursera.org/learn/single-table-sq...

In [15]:
data['tags'] = data['Course Name'] + data['Difficulty Level'] + data['Course Description'] + data['Skills']

In [16]:
data.head(5)

,Course Name,Difficulty Level,Course Description,Skills,Course URL,tags
0,"Write,A,Feature,Length,Screenplay,For,Film,Or,...",Beginner,"Write,a,Full,Length,Feature,Film,Script,In,thi...",Drama Comedy peering screenwriting film D...,https://www.coursera.org/learn/write-a-feature...,"Write,A,Feature,Length,Screenplay,For,Film,Or,..."
1,"Business,Strategy,Business,Model,Canvas,Analys...",Beginner,"By,the,end,of,this,guided,project,you,will,be,...",Finance business plan persona user experienc...,https://www.coursera.org/learn/canvas-analysis...,"Business,Strategy,Business,Model,Canvas,Analys..."
2,"Silicon,Thin,Film,Solar,Cells",Advanced,"This,course,consists,of,a,general,presentation...",chemistry physics Solar Energy film lambda...,https://www.coursera.org/learn/silicon-thin-fi...,"Silicon,Thin,Film,Solar,CellsAdvancedThis,cour..."
3,"Finance,for,Managers",Intermediate,"When,it,comes,to,numbers,there,is,always,more,...",accounts receivable dupont analysis analysis...,https://www.coursera.org/learn/operational-fin...,"Finance,for,ManagersIntermediateWhen,it,comes,..."
4,"Retrieve,Data,using,Single-Table,SQL,Queries",Beginner,"In,this,course,youï¿½ll,learn,how,to,effectively...",Data Analysis select sql database management...,https://www.coursera.org/learn/single-table-sq...,"Retrieve,Data,using,Single-Table,SQL,QueriesBe..."

In [17]:
data['tags'].iloc[1]

'Business,Strategy,Business,Model,Canvas,Analysis,with,MiroBeginnerBy,the,end,of,this,guided,project,you,will,be,fluent,in,identifying,and,creating,Business,Model,Canvas,solutions,based,on,previous,high-level,analyses,and,research,data.,This,will,enable,you,to,identify,and,map,the,elements,required,for,new,products,and,services.,Furthermore,it,is,essential,for,generating,positive,results,for,your,business,venture.,This,guided,project,is,designed,to,engage,and,harness,your,visionary,and,exploratory,abilities.,You,will,use,proven,models,in,strategy,and,product,development,with,the,Miro,platform,to,explore,and,analyse,your,business,propositions.,,We,will,practice,critically,examining,results,from,previous,analysis,and,research,results,in,deriving,the,values,for,each,of,the,business,model,sections.Finance  business plan  persona user experience  business model canvas  Planning  Business  project  Product Development  presentation  Strategy business business-strategy'

In [18]:
new_df = data[['Course Name','tags','Course URL']]

In [19]:
new_df.head(5)

,Course Name,tags,Course URL
0,"Write,A,Feature,Length,Screenplay,For,Film,Or,...","Write,A,Feature,Length,Screenplay,For,Film,Or,...",https://www.coursera.org/learn/write-a-feature...
1,"Business,Strategy,Business,Model,Canvas,Analys...","Business,Strategy,Business,Model,Canvas,Analys...",https://www.coursera.org/learn/canvas-analysis...
2,"Silicon,Thin,Film,Solar,Cells","Silicon,Thin,Film,Solar,CellsAdvancedThis,cour...",https://www.coursera.org/learn/silicon-thin-fi...
3,"Finance,for,Managers","Finance,for,ManagersIntermediateWhen,it,comes,...",https://www.coursera.org/learn/operational-fin...
4,"Retrieve,Data,using,Single-Table,SQL,Queries","Retrieve,Data,using,Single-Table,SQL,QueriesBe...",https://www.coursera.org/learn/single-table-sq...

In [20]:
new_df['tags'] = data['tags'].str.replace(',',' ')

C:\Users\shria\AppData\Local\Temp\ipykernel_13940\3366302733.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = data['tags'].str.replace(',',' ')

In [21]:
new_df['Course Name'] = data['Course Name'].str.replace(',',' ')

C:\Users\shria\AppData\Local\Temp\ipykernel_13940\1395081966.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Course Name'] = data['Course Name'].str.replace(',',' ')

In [22]:
new_df['Course URL'] = data['Course URL'].str.replace(',',' ')

C:\Users\shria\AppData\Local\Temp\ipykernel_13940\2740376628.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Course URL'] = data['Course URL'].str.replace(',',' ')

In [23]:
new_df.rename(columns = {'Course Name':'course_name'}, inplace = True)
new_df.rename(columns = {'Course URL':'course_url'}, inplace = True)

C:\Users\shria\AppData\Local\Temp\ipykernel_13940\925273417.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.rename(columns = {'Course Name':'course_name'}, inplace = True)
C:\Users\shria\AppData\Local\Temp\ipykernel_13940\925273417.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.rename(columns = {'Course URL':'course_url'}, inplace = True)

In [24]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower()) #lower casing the tags column

C:\Users\shria\AppData\Local\Temp\ipykernel_13940\172956468.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower()) #lower casing the tags column

In [25]:
new_df.head(5)

,course_name,tags,course_url
0,Write A Feature Length Screenplay For Film Or ...,write a feature length screenplay for film or ...,https://www.coursera.org/learn/write-a-feature...
1,Business Strategy Business Model Canvas Analys...,business strategy business model canvas analys...,https://www.coursera.org/learn/canvas-analysis...
2,Silicon Thin Film Solar Cells,silicon thin film solar cellsadvancedthis cour...,https://www.coursera.org/learn/silicon-thin-fi...
3,Finance for Managers,finance for managersintermediatewhen it comes ...,https://www.coursera.org/learn/operational-fin...
4,Retrieve Data using Single-Table SQL Queries,retrieve data using single-table sql queriesbe...,https://www.coursera.org/learn/single-table-sq...

In [26]:
new_df.shape #3522 courses with tags and 2 columns (course_name and tags)

(4844, 3)

In [27]:
from sklearn.feature_extraction.text import CountVectorizer

In [28]:
cv = CountVectorizer(max_features=5000,stop_words='english')

In [29]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [30]:
import nltk #for stemming process

In [31]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [32]:
#defining the stemming function
def stem(text):
    y=[]
    
    for i in text.split():
        y.append(ps.stem(i))
    
    return " ".join(y)

In [33]:
new_df['tags'] = new_df['tags'].apply(stem) #applying stemming on the tags column

C:\Users\shria\AppData\Local\Temp\ipykernel_13940\3741851974.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem) #applying stemming on the tags column

In [34]:
from sklearn.metrics.pairwise import cosine_similarity

In [35]:
similarity = cosine_similarity(vectors)

In [36]:
def recommend(course):
    course_index = new_df[new_df['course_name'] == course].index[0]
    distances = similarity[course_index]
    course_list = sorted(list(enumerate(distances)),reverse=True, key=lambda x:x[1])[1:11]
    num=1
    for i in course_list:
        print(str(num)+".", new_df.iloc[i[0]].course_name,"-", new_df.iloc[i[0]].course_url)
        num+=1

In [38]:
recommend('Python Data Representations')

1. Python Data Analysis - https://www.coursera.org/learn/python-analysis
2. Python Programming Essentials - https://www.coursera.org/learn/python-programming
3. Python Basics - https://www.coursera.org/learn/python-basics
4. Python Functions Files and Dictionaries - https://www.coursera.org/learn/python-functions-files-dictionaries
5. Python Data Structures - https://www.coursera.org/learn/python-data
6. Python Basics for Data Science - https://www.edx.org/course/python-basics-for-data-science
7. Python Data Visualization - https://www.coursera.org/learn/python-visualization
8. Python for Data Science and AI - https://www.coursera.org/learn/python-for-applied-data-science-ai
9. Python for Data Science and AI - https://www.coursera.org/learn/python-for-applied-data-science-ai
10. Python for Data Science and AI - https://www.coursera.org/learn/python-for-applied-data-science-ai