In [76]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
print('Dependencies Imported')

Dependencies Imported

In [77]:
data = pd.concat(map(pd.read_csv, ['Coursera.csv','Udacity.csv','EdX.csv','UdemyCourses.csv','Udemy2.csv']),ignore_index=True)

In [78]:
data.shape

(8522, 8)

In [79]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8522 entries, 0 to 8521
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Course Name         8522 non-null   object
 1   University          4505 non-null   object
 2   Difficulty Level    8179 non-null   object
 3   Course Rating       4116 non-null   object
 4   Course URL          8522 non-null   object
 5   Course Description  4827 non-null   object
 6   Skills              8259 non-null   object
 7   Unnamed: 6          0 non-null      float64
dtypes: float64(1), object(7)
memory usage: 532.8+ KB

In [80]:
data.isnull().sum() #no value is missing

Course Name              0
University            4017
Difficulty Level       343
Course Rating         4406
Course URL               0
Course Description    3695
Skills                 263
Unnamed: 6            8522
dtype: int64

In [81]:
data['Difficulty Level'].value_counts()

Beginner              1946
All Levels            1929
Beginner Level        1270
Intermediate          1192
Advanced              1127
Intermediate Level     421
Conversant             186
Expert Level            58
Not Calibrated          50
Name: Difficulty Level, dtype: int64

In [82]:
data['Course Rating'].value_counts()

4.7    757
4.6    642
4.8    600
4.5    396
4.4    249
      ...
2.3      1
1.9      1
1.6      1
2.5      1
3.1      1
Name: Course Rating, Length: 62, dtype: int64

In [83]:
data['University'].value_counts()

Coursera Project Network                                              562
School of Programming & Development                                   143
University of Illinois at Urbana-Champaign                            138
Johns Hopkins University                                              110
IBM                                                                   105
                                                                     ...
Karlsruhe Institute for Technology                                      1
Brightline Initiative                                                   1
Educational Testing Service                                             1
H2O                                                                     1
University of Maryland Global Campus-University System of Maryland      1
Name: University, Length: 280, dtype: int64

In [84]:
data['Course Name']

0       Write A Feature Length Screenplay For Film Or ...
1       Business Strategy: Business Model Canvas Analy...
2                           Silicon Thin Film Solar Cells
3                                    Finance for Managers
4            Retrieve Data using Single-Table SQL Queries
                              ...
8517    Learn jQuery from Scratch - Master of JavaScri...
8518    How To Design A WordPress Website With No Codi...
8519                        Learn and Build using Polymer
8520    CSS Animations: Create Amazing Effects on Your...
8521    Using MODX CMS to Build Websites: A Beginner's...
Name: Course Name, Length: 8522, dtype: object

In [85]:

data['Course Description'] = data['Course Description'].apply(lambda x:str(x))
data['Skills'] = data['Skills'].apply(lambda x:str(x))
data['Difficulty Level'] = data['Difficulty Level'].apply(lambda x:str(x))

In [86]:
data = data[['Course Name','Difficulty Level','Course Description','Skills','Course URL']]

In [87]:
data.head(5)

,Course Name,Difficulty Level,Course Description,Skills,Course URL
0,Write A Feature Length Screenplay For Film Or ...,Beginner,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...,https://www.coursera.org/learn/write-a-feature...
1,Business Strategy: Business Model Canvas Analy...,Beginner,"By the end of this guided project, you will be...",Finance business plan persona (user experien...,https://www.coursera.org/learn/canvas-analysis...
2,Silicon Thin Film Solar Cells,Advanced,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...,https://www.coursera.org/learn/silicon-thin-fi...
3,Finance for Managers,Intermediate,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...,https://www.coursera.org/learn/operational-fin...
4,Retrieve Data using Single-Table SQL Queries,Beginner,In this course youï¿½ll learn how to effectively...,Data Analysis select (sql) database manageme...,https://www.coursera.org/learn/single-table-sq...

In [88]:

data['Course Name'] = data['Course Name'].str.replace(' ',',')
data['Course Name'] = data['Course Name'].str.replace(',,',',')
data['Course Name'] = data['Course Name'].str.replace(':','')
data['Course Description'] = data['Course Description'].str.replace(' ',',')
data['Course Description'] = data['Course Description'].str.replace(',,',',')
data['Course Description'] = data['Course Description'].str.replace('_','')
data['Course Description'] = data['Course Description'].str.replace(':','')
data['Course Description'] = data['Course Description'].str.replace('(','')
data['Course Description'] = data['Course Description'].str.replace(')','')
#removing paranthesis from skills columns 
data['Skills'] = data['Skills'].str.replace('(','')
data['Skills'] = data['Skills'].str.replace(')','')

In [89]:
data.head(5)

,Course Name,Difficulty Level,Course Description,Skills,Course URL
0,"Write,A,Feature,Length,Screenplay,For,Film,Or,...",Beginner,"Write,a,Full,Length,Feature,Film,Script,In,thi...",Drama Comedy peering screenwriting film D...,https://www.coursera.org/learn/write-a-feature...
1,"Business,Strategy,Business,Model,Canvas,Analys...",Beginner,"By,the,end,of,this,guided,project,you,will,be,...",Finance business plan persona user experienc...,https://www.coursera.org/learn/canvas-analysis...
2,"Silicon,Thin,Film,Solar,Cells",Advanced,"This,course,consists,of,a,general,presentation...",chemistry physics Solar Energy film lambda...,https://www.coursera.org/learn/silicon-thin-fi...
3,"Finance,for,Managers",Intermediate,"When,it,comes,to,numbers,there,is,always,more,...",accounts receivable dupont analysis analysis...,https://www.coursera.org/learn/operational-fin...
4,"Retrieve,Data,using,Single-Table,SQL,Queries",Beginner,"In,this,course,youï¿½ll,learn,how,to,effectively...",Data Analysis select sql database management...,https://www.coursera.org/learn/single-table-sq...

In [90]:
data['tags'] = data['Course Name'] + data['Difficulty Level'] + data['Course Description'] + data['Skills']

In [91]:
data.head(5)

,Course Name,Difficulty Level,Course Description,Skills,Course URL,tags
0,"Write,A,Feature,Length,Screenplay,For,Film,Or,...",Beginner,"Write,a,Full,Length,Feature,Film,Script,In,thi...",Drama Comedy peering screenwriting film D...,https://www.coursera.org/learn/write-a-feature...,"Write,A,Feature,Length,Screenplay,For,Film,Or,..."
1,"Business,Strategy,Business,Model,Canvas,Analys...",Beginner,"By,the,end,of,this,guided,project,you,will,be,...",Finance business plan persona user experienc...,https://www.coursera.org/learn/canvas-analysis...,"Business,Strategy,Business,Model,Canvas,Analys..."
2,"Silicon,Thin,Film,Solar,Cells",Advanced,"This,course,consists,of,a,general,presentation...",chemistry physics Solar Energy film lambda...,https://www.coursera.org/learn/silicon-thin-fi...,"Silicon,Thin,Film,Solar,CellsAdvancedThis,cour..."
3,"Finance,for,Managers",Intermediate,"When,it,comes,to,numbers,there,is,always,more,...",accounts receivable dupont analysis analysis...,https://www.coursera.org/learn/operational-fin...,"Finance,for,ManagersIntermediateWhen,it,comes,..."
4,"Retrieve,Data,using,Single-Table,SQL,Queries",Beginner,"In,this,course,youï¿½ll,learn,how,to,effectively...",Data Analysis select sql database management...,https://www.coursera.org/learn/single-table-sq...,"Retrieve,Data,using,Single-Table,SQL,QueriesBe..."

In [92]:
data['tags'].iloc[1]

'Business,Strategy,Business,Model,Canvas,Analysis,with,MiroBeginnerBy,the,end,of,this,guided,project,you,will,be,fluent,in,identifying,and,creating,Business,Model,Canvas,solutions,based,on,previous,high-level,analyses,and,research,data.,This,will,enable,you,to,identify,and,map,the,elements,required,for,new,products,and,services.,Furthermore,it,is,essential,for,generating,positive,results,for,your,business,venture.,This,guided,project,is,designed,to,engage,and,harness,your,visionary,and,exploratory,abilities.,You,will,use,proven,models,in,strategy,and,product,development,with,the,Miro,platform,to,explore,and,analyse,your,business,propositions.,,We,will,practice,critically,examining,results,from,previous,analysis,and,research,results,in,deriving,the,values,for,each,of,the,business,model,sections.Finance  business plan  persona user experience  business model canvas  Planning  Business  project  Product Development  presentation  Strategy business business-strategy'

In [93]:
new_df = data[['Course Name','tags','Course URL']]

In [94]:
new_df.head(5)

,Course Name,tags,Course URL
0,"Write,A,Feature,Length,Screenplay,For,Film,Or,...","Write,A,Feature,Length,Screenplay,For,Film,Or,...",https://www.coursera.org/learn/write-a-feature...
1,"Business,Strategy,Business,Model,Canvas,Analys...","Business,Strategy,Business,Model,Canvas,Analys...",https://www.coursera.org/learn/canvas-analysis...
2,"Silicon,Thin,Film,Solar,Cells","Silicon,Thin,Film,Solar,CellsAdvancedThis,cour...",https://www.coursera.org/learn/silicon-thin-fi...
3,"Finance,for,Managers","Finance,for,ManagersIntermediateWhen,it,comes,...",https://www.coursera.org/learn/operational-fin...
4,"Retrieve,Data,using,Single-Table,SQL,Queries","Retrieve,Data,using,Single-Table,SQL,QueriesBe...",https://www.coursera.org/learn/single-table-sq...

In [95]:
new_df['tags'] = data['tags'].str.replace(',',' ')

In [96]:
new_df['Course Name'] = data['Course Name'].str.replace(',',' ')

In [97]:
new_df['Course URL'] = data['Course URL'].str.replace(',',' ')

In [98]:
new_df.rename(columns = {'Course Name':'course_name'}, inplace = True)
new_df.rename(columns = {'Course URL':'course_url'}, inplace = True)

In [99]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower()) #lower casing the tags column

In [100]:
new_df.head(5)

,course_name,tags,course_url
0,Write A Feature Length Screenplay For Film Or ...,write a feature length screenplay for film or ...,https://www.coursera.org/learn/write-a-feature...
1,Business Strategy Business Model Canvas Analys...,business strategy business model canvas analys...,https://www.coursera.org/learn/canvas-analysis...
2,Silicon Thin Film Solar Cells,silicon thin film solar cellsadvancedthis cour...,https://www.coursera.org/learn/silicon-thin-fi...
3,Finance for Managers,finance for managersintermediatewhen it comes ...,https://www.coursera.org/learn/operational-fin...
4,Retrieve Data using Single-Table SQL Queries,retrieve data using single-table sql queriesbe...,https://www.coursera.org/learn/single-table-sq...

In [101]:
new_df.shape #3522 courses with tags and 2 columns (course_name and tags)

(8522, 3)

In [102]:
from sklearn.feature_extraction.text import CountVectorizer

In [103]:
cv = CountVectorizer(max_features=5000,stop_words='english')

In [104]:
vectors = cv.fit_transform(new_df['tags']).toarray()

#CountVectorizer transforms a given text into a vector on the basis of the frequency of each word that occurs in the text.

In [105]:
import nltk #for stemming process

In [106]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

#nltk is natural language toolkit

In [107]:
#defining the stemming function
def stem(text):
    y=[]
    
    for i in text.split():
        y.append(ps.stem(i))
    
    return " ".join(y)

#stemming process involves reducing inflection in words i.e. it involves removes suffixes and prefixes to obtain the root word

In [108]:
new_df['tags'] = new_df['tags'].apply(stem) #applying stemming on the tags column

In [109]:
from sklearn.metrics.pairwise import cosine_similarity

In [110]:
similarity = cosine_similarity(vectors)

#cosine_similarity is a similarity measure used in text analysis.
# it is calculated using the formula: Similarity = (A.B)/(||A||.||B||)
# It is calculated between 2 frequency vectors

# '''So the cosine similarity would yield a similarity matrix for the selected textual data for recommendation and the content with higher similarity scores can be sorted using lists. Here cosine similarity would consider the frequently occurring terms in the textual data and that terms would be vectorized with higher frequencies and that content would be recommended with higher recommendation percentages. So this is how cosine similarity is used in recommendation systems.'''

In [111]:
def recommend(course):
    course_index = new_df[new_df['course_name'] == course].index[0] #finds the index of the course in the data frame
    distances = similarity[course_index] #similarity of that course will be present at the same index of the similarity matrix
    course_list = sorted(list(enumerate(distances)),reverse=True, key=lambda x:x[1])[1:11] #sort in descending order based on distances
    #enumerate function numbers the list
    num=1
    # print(course_list)
    # [(3408, 0.5445577407221203), (2833, 0.47146515549715307), (6472, 0.4361128534721852), (6305, 0.43589743589743585), (6158, 0.4128125496922689), (6495, 0.38461538461538464), (6134, 0.3846153846153846), (6185, 0.3784115038845798), (6246, 0.3784115038845798), (6182, 0.37749825293167844)]
    for i in course_list:
        print(str(num)+".", new_df.iloc[i[0]].course_name,"-", new_df.iloc[i[0]].course_url) #i[0] gives the index of the course to be searched in the dataframe
        num+=1

In [112]:
recommend('Easing the Transition to GIMP for Photoshop Users') 
#mixed output: Easing the Transition to GIMP for Photoshop Users

1. Getting Started in GIMP - https://www.coursera.org/learn/getting-started-in-gimp
2. How to Make Image Editing Selections in GIMP - https://www.coursera.org/learn/how-to-make-image-editing-selections-in-gimp
3. photoshop - CURSO DE PHOTOSHOP DO BÃSICO AO AVANÃADO - https://www.udemy.com/photoshop-do-basico-ao-avancado/
4. Photoshop In-Depth Master all of Photoshop's Tools Easily - https://www.udemy.com/photoshop-tools/
5. Learn Adobe Photoshop in 1 Hour - https://www.udemy.com/learn-adobe-photoshop-in-1-hour/
6. Photoshop Tools 101 - https://www.udemy.com/photoshoptools101/
7. Make yourself a Santa Claus Photoshop Manipulation - https://www.udemy.com/make-your-self-a-santa-claus-merry-christmas/
8. Learn Advanced Photoshop Selections - https://www.udemy.com/learn-advanced-photoshop-selections/
9. Learn Photoshop CC Essentials - https://www.udemy.com/learn-photoshop-cc-essentials/
10. Adobe Photoshop Essentials Master Adobe Photoshop CS6 - https://www.udemy.com/adobe-photoshop-cs6-essentials-how-to-use-photoshop/